<div class="container mt-4">
  <div class="row">
    <div class="col col-sm-10 col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Servers</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row my-4">
    <div class="col col-sm-10 col-md-8">
      <app-home></app-home>
    </div>
  </div>
  <div class="row my-4">
    <div class="col col-sm-10 col-md-8">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-10 col-md-8">
      <app-servers></app-servers>
    </div>
  </div>
</div>
